 /*Background color of website*/

 body {
  background-color: #e7eaf6;
 }

 /*header styling*/

 .h1-header {
  font-family: 'Signika', sans-serif;
  font-size: 25px;
  margin-left: 10px;
  margin-top: 4px;

 }

 /*-----------------Nav Bar------------------------*/

 .navbar {
  background-color: #030a10;
 }

 .navbar-brand {
  font-size: 30px;
  margin-left: 10px;

 }

 .fa-chart-bar:before {
  content: "\f080";
  margin-left: -26px;
 }

 /*-----------------Paragraph------------------------*/

 p {
  font-size: 17px;
  font-style: oblique;
  margin-left: 192px;
  margin-top: 8px;

 }

 /*-----------------Footer------------------------*/

 .footer {
  background-color: #030a10;
 }

 .footer-text {
  color: #fff;

  margin-top: -4rem;
  margin-left: 2rem;
 }




 @media (max-width: 576px) and (min-width: 375px) {
  /*-----------------Bootstrap Row------------------------*/
  .row {
   width: 451px;
   margin-left: 4px;
   margin-bottom: 37px;
  }

  /*-----------------Bootstrap container------------------------*/
  .container {
   margin-left: 35px;
  }

  /*-----------------Nav Bar------------------------*/
  /*navbar styling*/
  .navbar {
   height: 68px;
   width: 645px;
  }
  /*-----------------Bar chart------------------------*/
  #country-chart {
   margin-left: 10px;
  }


  /*-----------------footer------------------------*/
  /*footer styling*/
  .footer {
   height: 79px;
   width: 649px;
   margin-left: -54px;

  }




 }

 @media (min-width: 576px) {


  /*-----------------Nav Bar------------------------*/
  .navbar {
   width: 1025px;
   height: 80px;
  }


  /*-----------------Footer------------------------*/
  /*footer styling*/
  .footer {
   width: 1072px;
   height: 80px;
   margin-left: -86px;
   margin-top: 431px;
  }
  .footer-text {

   margin-top: -4rem;
   margin-left: 2rem;
  }

 }

 @media (min-width: 768px) {
  /*-----------------Bar Chart------------------------*/
  /*first bar chart styling*/
  #total-bites-per-year {
   transform: scaleY(1.1);
   margin-top: 37px;
  }
  /*Second bar chart styling*/
  #where-chart {
   margin-left: 150px;
   margin-top: 15px;
  }
  /*Third bar chart styling*/
  #country-chart {
   transform: scale(1.5);
   margin-right: 34px;
   margin-top: 180px;
   margin-bottom: -198px;
  }


  /*-----------------My Row Total------------------------*/
  .my-row-total {
   width: 1000px;
  }
   /*-----------------My Paragraph------------------------*/
  /*-------Paragraph Styling-------*/
  .my-paragraph {
   font-size: 24px;
   margin-left: 70px;
  }
  .my-paragraph-year {
   margin-bottom: 10px;
  }
  .my-paragraph-country {
   margin-left: 168px;
  }
 }
 