@media (max-width: 768px) and (min-width: 375px) {
    
    .svg{
        height:200;
    }
    .row {

        width: 36rem;
    }
    /*navbar styling*/

.navbar {
     height: 68px;
    width: 577px;
}

.navbar-brand {
    font-size:30px;
    margin-left: 8rem;

}

/*header styling*/

.h1-header {
    font-family: 'Signika', sans-serif;
    font-size: 25px;
    margin-left: 5rem;

}

/*footer styling*/

.footer {
  height: 68px;
    width: 606px;
    margin-left: -44px;
    background-color: #373a3c;
}

.footer-text {
    color: #fff;
    margin-top: -4rem;
    margin-left: 2rem;

}

}




